<li id="micropost-<%= micropost.id %>">
  <%= link_to gravartar_for(micropost.user), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture?%>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if micropost.user == current_user %>
    <span class="btn_delete">
      <%= link_to t("button.delete"), micropost, method: "delete",
        class: "btn btn-default pull-right", data: {confirm: "are you sure"} %>
    </span>
  <% end %>

  <% if current_user.following? micropost.user and !micropost.comments.nil?%>
    <div class="comments_micropost">
      <% micropost.comments.each do |c| %>
        <% user = User.find_by id: c.user_id %>
          <div class="sub_comment">
            <%= gravartar_for user %>
            <span class="comment_name"><%= user.name %></span>
            <span class="time_comment"><%=  time_ago_in_words(c.created_at) %> ago</span>
            <span class="comment_content"><%= c.content %></span>
            <% if current_user == user %>
              <%= link_to "delete", c,
                method: :delete, data: {confirm: "Are you sure"} %>
            <% end %>
          </div>
      <% end %>
    </div>
  <% end %>
  <div class="form_comment">
    <% if current_user.following?(micropost.user) %>
      <%= form_for @comment do |f| %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :micropost_id, micropost.id %>
        <%= f.text_area :content,rows: "1",  class:"form-control" %>
        <br>
        <%= f.submit "post", class: "btn btn-primary btn-sm pull-right"%>
      <% end %>
    <% end %>
  </div>
</li>
